 /* Created on : Sep 14, 2022, 2:17:31 PM
    Author     : Jai Burry
*/

            body{
              font-family: 'Open Sans', sans-serif;
              font-size: 14px;
            }
            
            
            body::after {
              background-image: url(./img/parchment.jpg);
              /*img sorce: https://www.freepik.com/free-vector/abstract-background-with-vintage-paper-design_18073291.htm#query=parchment%20texture&position=6&from_view=keyword */
              background-size: cover;
	      position: fixed;
	      content: "";
	      top: 0;
	      left: 0;
	      bottom: 0;
	      right: 0;
	      opacity: 0.5; 
	      z-index: -1;
            }
            header{
              text-align: center;
              font-family: 'Libre Baskerville', serif;
              font-size: 25px;
              font-weight: bold;
              border: 5px solid black;
            }
            
            .description{
                
                margin-left: 30%;
                margin-right: 30%;
                margin-top: 5%;
                height: 75px;
                font-size: 18px;
            }
            .cap1{
               font-family: 'Open Sans', sans-serif;
               font-size: 16px;
               font-weight: bold;
               z-index: 0;
            }
           .fig1{
              float: left;
              margin-top: 75px;
              z-index: 0;
            }
           .fig2{
              float: right;
              margin-top: 75px;
              z-index: 0;
            }
           .fig3{
              float: left;
              margin-top: 75px;
              z-index: 0;
            }
           .fig4{
              float: right;
             margin-top: 75px;
             z-index: 0;
            }
           .fig5{
              float: left;
              margin-top: 75px;
              z-index: 0;
            }
           .fig6{
              float: right;
              margin-top: 75px;
              z-index: 0;
            }
            footer {
                margin-top: 1300px;
                height: 20px;
                width: 100%;
                text-align: center;
            }
